* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100;
}

/* 
 *  FLEX DEFAULTS
 */

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
